use flake . --impure

source_env_if_exists .envrc.secret
source_env_if_exists .envrc.local

export ORG="veatech"
export PROJECT="veatech_nerves_system_rpi3"

export AWS_CONFIG_FILE="${PWD}/.aws-config"
export AWS_PROFILE="veatech-main:dev"
